{% extends "base.html" %}
{% load static %}
{% block content %}
		
	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>تیکت ها</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="/">صفحه اصلی</a></li>
							<li><a href="{%url 'dashboard'%}">داشبورد</a></li>
							<li>تیکت ها</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="row">
			
			<!-- Listings -->
			<div class="col-lg-12 col-md-12">

				<div class="messages-container margin-top-0">
					<div class="messages-headline">
						<h4>همه تیکت ها</h4>
					</div>
					
					<div class="messages-inbox">

						<ul>
							{%for ticket in ticket%}
							 {%if ticket.user == request.user%}
							<li class="unread">
								<a href="{%url 'tickets' pk=ticket.pk %}">
									<div class="message-avatar"><img src="{{ticket.user.profile.avatar_url}}" alt="" /></div>

									<div class="message-by">
										<div class="message-by-headline">
											<h5>{{ticket.title}}<i>{{ticket.block}}</i></h5>
											<span>({{ticket.datetime.date}})ــ({{ticket.datetime.time}})</span>
										</div>
										<p> {{ticket.message}}</p>
									</div>
								</a>
								{%endif%}
								{%endfor%}
							</li>

							
						</ul>
						
					</div>
				</div>

				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="pagination-container margin-top-30 margin-bottom-0">
					<nav class="pagination">
						<ul>
							<li><a href="#" class="current-page">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
						</ul>
					</nav>
				</div>
				<!-- Pagination / End -->

			</div>

		
{% endblock content %}	