{% extends "base2.html" %}
{% load static %}
{% block content %}			
	

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>فرایند درخواست عضویت</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/">صفحه اصلی</a></li>
						<li> درخواست عضویت در رویداد</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="booking-confirmation-page">
				<i class="fa fa-check-circle"></i>
				<h2 class="margin-top-30"> درخواست شما ارسال شد</h2>
				<p>بعد از تایید عضویت توسط مدیر رویداد اطلاعات تکمیلی برای شما ارسال میشود</p>
			</div>

		</div>
	</div>
</div>
<!-- Container / End -->
{% endblock content %}			
