{% extends "base2.html" %}
{% load static %}


{%block title%}رویداد ها{%endblock title%}
{% block content %}
	

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>رویداد ها</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/">صفحه اصلی</a></li>
						<li>رویداد ها</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Search -->
		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-10">
				<div class="main-search-input-item">
                <form action="{%url 'search'%}" method="GET">
					<input type="text" placeholder="دنبال چی میگردی؟" value="{{request.GET.q}}" name="q" />
				</div>
				<div class="main-search-input-item">
					<select data-placeholder="تمام دسته ها" class="chosen-select" name="t">
						<option></option>
					     <option>فوتبال</option>
						   <option>پینت بال</option>
						   <option>بسکتبال</option>
					       <option>والیبال</option>
					       <option>شطرنج</option>
					       <option>بازی های کامپیوتری</option>
					       <option>تنیس</option>
					       <option>دیگر</option>
							</select>
				</div>

			
						<div class="main-search-input-item">
							<select data-placeholder="تمام شهر ها" class="chosen-select" name="n">
								<option></option>
						<option>تهران</option>	
						   <option>کرج</option>
						   <option>تبریز</option>
						   <option>مشهد</option>
					       <option>شیراز</option>
					       <option>اصفهان</option>
							</select>
						</div>


				<button class="button">جستجو</button>
	</form>
			</div>
		</div>
		<!-- Search Section / End -->


	<br><br><br><hr>
			<!-- Sorting - Filtering Section / End -->

			<div class="row">
        {%for event in event%}

				<!-- Listing Item -->
				<div class="col-lg-4 col-md-6">
					<a href="{%url 'event_detail' pk=event.pk %}" class="listing-item-container compact">
						<div class="listing-item">
							<img src="{{event.img_type}}" alt="">

							<div class="listing-badge now-open">{{event.Event_type}}</div>

							<div class="listing-item-content">
								 
								<h3>{{event.saloon_name}}<i class="verified-icon"></i></h3>
								<span>{{event.gender}}</span><br>
								<span>تاریخ برگذاری :{{event.date}}</span>
								<span>{{event.City}},{{event.address}}</span>
							</div>
							
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item / End -->
              
               {%endfor%}
			</div>
			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>

	</div>
</div>

{% endblock content %}