{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container">
        <div class="row">
            <div class="col m12">
                <div class="card-panel">
                    <form method="POST" class="Add_event" >
                    	{% csrf_token %}
                    	                           
                               

                        {{form.as_p}}
                               
                        <button type="submit" class="save btn btn-default">save</button>
                         
                    </form>
                  </div>
              </div>
          </div>
      </div>




   	

	
{% endblock content %}