{% extends "base2.html" %}
{% load static %}



{% block content %}
	


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>تایپوگرافی</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>تایپوگرافی</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Blockquote
	================================================== -->
	<div class="row">
		<div class="col-md-12">
		<!-- Headline -->
		<h4 class="headline with-border margin-top-0 margin-bottom-35">مسابقه</h4>
		<blockquote>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </blockquote>
		</div>
	</div>


	<!-- Inline Elements
	================================================== -->
	<div class="row">
		<div class="col-md-12">
		<!-- Headline -->
		<h4 class="headline with-border margin-top-45 margin-bottom-25">عناصر درون خطی</h4>

		<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <sup>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </sup> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <sub>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </sub> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <del>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </del> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <mark class="color">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </mark>, لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <dfn>طراحی منحصر به فرد</dfn> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم , <strong>ریسپانسیو</strong>. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <code>سفارشی سازی آسان</code> طراحی مینیمال, <abbr title="ابر برچسب">حرفه ای</abbr> عالی <mark>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </mark>.</p>

		</div>
	</div>


	<!-- Tooltips
	================================================== -->
	<div class="row">
		<div class="col-md-12">
		<!-- Headline -->
		<h4 class="headline margin-top-40 margin-bottom-25">راهنمای ابزار ها</h4>

			<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم, <a href="#" class="برو بالا" title="راهنمایی اول">راهنمایی اول</a> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  <a href="#" class="راهنمای صحیح" title="راهنمایی دوم">راهنمای ابزار از راست</a> طراحیر <a href="#" class="راهنمای ابزار چپ" title="راهنمایی سوم">راهنمای ابزار از سمت چپ</a>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم<a href="#" class="راهنمایی پایین" title="راهنمایی چهارم">راهنمای ابزار از پایین</a>طراحی عالیی.</div>
	</div>
	<!-- List Styles
	================================================== -->
	<div class="row">
		<div class="col-md-12">
		<h4 class="headline margin-bottom-25 margin-top-40">لیست آیکون ها</h4>

			<div class="row">
				<div class="col-md-3">
					<ul class="list-1">
						<li>لورم ایپسوم متن ساختگی با تولید</li>
						<li>اصول اعتبارسنجی</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					</ul>
				</div>

				<div class="col-md-3">
					<ul class="list-2">
						<li>لورم ایپسوم متن ساختگی با تولید</li>
						<li>اصول اعتبارسنجی</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					</ul>
				</div>

				<div class="col-md-3">
					<ul class="list-3 color">
						<li>لورم ایپسوم متن ساختگی با تولید</li>
						<li>اصول اعتبارسنجی</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					</ul>
				</div>

				<div class="col-md-3">
					<ul class="list-4 color">
						<li>لورم ایپسوم متن ساختگی با تولید</li>
						<li>اصول اعتبارسنجی</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
						<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					</ul>
				</div>
			</div>

		</div>
	</div>



	<!-- Numbered Lists -->
	<div class="row">

		<div class="col-md-12">
			<h4 class="headline margin-bottom-30 margin-top-40">لیست های شماره گذاری شده</h4>
		</div>

		<div class="col-md-4">
			<div class="numbered">
				<ol>
					<li>ارشد در لیبره و پلنزن</li>
					<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					<li>مسکو به دنبال زندگی شاد است</li>
					<li>لورم ایپسوم متن ساختگی با تولید</li>
					<li>ارشد در لیبره و پلنزن</li>
					<li>شناخت فراوان جامعه و متخصصان</li>
				</ol>
			</div>
		</div>

		<div class="col-md-4">
			<div class="numbered color">
				<ol>
					<li>ارشد در لیبره و پلنزن</li>
					<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					<li>مسکو به دنبال زندگی شاد است</li>
					<li>لورم ایپسوم متن ساختگی با تولید</li>
					<li>ارشد در لیبره و پلنزن</li>
					<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
				</ol>
			</div>
		</div>

		<div class="col-md-4">
			<div class="numbered color filled">
				<ol>
					<li>ارشد در لیبره و پلنزن</li>
					<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
					<li>مسکو به دنبال زندگی شاد است</li>
					<li>لورم ایپسوم متن ساختگی با تولید</li>
					<li>ارشد در لیبره و پلنزن</li>
					<li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
				</ol>
			</div>
		</div>

	</div>



{%endblock content%}


